.e-dark-app {
  background-image: linear-gradient(45deg, #3b3b3d 0%, #2f3137 100%) !important;
}
.e-dark-app .e-navbar {
  background-image: linear-gradient(4deg, #0d1b34 0%, #182342 100%) !important;
  box-shadow: 0px 1px 10.36px 4.64px rgba(0, 0, 0, 0.26) !important;
}
.e-dark-app .e-news h1, .e-dark-app .e-news h2 {
  color: white !important;
}
.e-dark-app .e-news .e-post-title {
  color: white !important;
}
.e-dark-app .e-news p, .e-dark-app .e-news * {
  color: #e6e6e6 !important;
}
.e-dark-app .e-home-news {
  background-color: rgba(41, 44, 51, 0.66) !important;
}
.e-dark-app .e-tickets {
  background-blend-mode: soft-light !important;
  background-color: #00000096 !important;
}
.e-dark-app hr {
  border-color: rgba(255, 255, 255, 0.69) !important;
}
.e-dark-app .e-new-flights {
  background-color: rgba(69, 74, 80, 0.93) !important;
  background-blend-mode: overlay !important;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.card:not(.e-card-transparent) {
  background-color: transparent;
  background-image: linear-gradient(45deg, #c6c6c6 0%, rgba(255, 255, 255, 0.83) 40%, rgba(255, 255, 255, 0.83) 50%, rgba(213, 213, 213, 0.33) 100%);
  border-color: #b1b1b1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

html {
  overflow-x: hidden;
}

@media print {
  .e-not-print {
    display: none;
  }

  .e-only-print {
    display: block !important;
  }

  .container {
    width: 100% !important;
    margin: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}
.e-only-print {
  display: none;
}

@page {
  size: 8cm auto;
  width: 9cm;
  height: 100%;
  margin: 0;
  margin-left: 0px !important;
  padding: 0px !important;
}
@page :left {
  margin-left: 0cm !important;
}
@page :right {
  margin-left: 0cm !important;
}
form {
  margin: 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
  cursor: not-allowed !important;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  background-color: #272b32;
}

.e-app {
  min-height: 100%;
  background-image: linear-gradient(45deg, #ebedef 0%, #c2c9e0 100%);
}
@media (max-width: 992px) {
  .e-app .container, .e-app .container-md, .e-app .container-sm {
    max-width: 98%;
  }
}
.e-app .e-new-flights {
  background-image: url("https://static01.nyt.com/images/2021/03/17/travel/05new-airlines-print/05new-airlines-print-mobileMasterAt3x-v2.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(69, 74, 80, 0.93);
  background-blend-mode: overlay;
}
.e-app .e-round {
  border-radius: 15px;
}
.e-app .e-sh-0 {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.26);
}
.e-app .e-sh-1 {
  box-shadow: 0px 1px 10.36px 4.64px rgba(0, 0, 0, 0.26);
}
.e-app .e-card-transparent {
  background: transparent !important;
  border-color: transparent !important;
}
.e-app .e-user-agreement {
  opacity: 0.8 !important;
  font-size: 10px !important;
}
.e-app .e-link {
  color: white;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  text-decoration-thickness: 0.5px;
}
.e-app .e-link-black {
  color: #363636;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #363636;
          text-decoration-color: #363636;
  text-decoration-thickness: 0.5px;
}
.e-app .e-select {
  background: transparent;
  border-radius: 8px;
  border-width: 2.5px;
  border-color: #f1f1f1;
  color: white;
  text-align: center;
}
.e-app .e-datepicker {
  cursor: pointer;
  position: relative;
}
.e-app .datepicker-container {
  background-color: rgba(255, 255, 255, 0.22);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.e-app .datepicker-container .datepicker-panel > ul > li {
  background-color: rgba(255, 255, 255, 0.39);
}
.e-app .grecaptcha-badge {
  display: none !important;
}
.e-app .e-datepicker-container {
  position: relative;
}
.e-app .e-datepicker-container span {
  position: absolute;
  right: 10.8px;
  top: 10.8px;
}
.e-app .select2 {
  outline: none !important;
}
.e-app .select2-dropdown {
  background: rgba(255, 255, 255, 0.49);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  outline: none !important;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 10.36px 4.64px rgba(0, 0, 0, 0.16);
}
.e-app .select2-search {
  box-shadow: 0px 1px 10.36px 4.64px rgba(0, 0, 0, 0.16);
}
.e-app .select2-results__option {
  transition: 0.3s;
}
.e-app .select2-results__option--highlighted {
  background-color: rgba(22, 101, 255, 0.49) !important;
}
.e-app .select2-results__option--selected {
  color: black !important;
  background-color: rgba(255, 255, 255, 0.49) !important;
}
.e-app .select2-search--dropdown {
  padding: 5px;
}
.e-app .select2-dropdown--below {
  top: -2.2rem;
}
.e-app .select2-selection__arrow {
  padding: 17px;
}
.e-app .select2-selection__arrow * {
  border-color: #ffffff transparent transparent transparent !important;
  border-width: 5px 4px 0 4px !important;
}
.e-app .select2-search input {
  background: transparent !important;
  margin: 0;
  border-radius: 5px;
  border-width: 2.5px !important;
  border-color: rgba(0, 0, 0, 0.49) !important;
  color: black;
  text-align: center;
  outline: none;
}
.e-app .select2-selection__rendered {
  line-height: initial !important;
  text-align: left !important;
  padding: 0 !important;
}
.e-app .select2-container--default .select2-selection--single {
  outline: none !important;
  background: transparent;
  border-radius: 8px !important;
  border-width: 2.5px;
  border-color: #f1f1f1;
  height: calc(1.5em + .75rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  color: white;
  text-align: center;
}
.e-app .select2-container--default .select2-selection--single * {
  color: white !important;
}
.e-app .e-select-black .select2-container--default .select2-selection--single {
  background: transparent;
  border-radius: 8px;
  border-width: 2.5px;
  border-color: #3c4b64;
  color: #3c4b64;
  box-shadow: none !important;
}
.e-app .e-select-black .select2-container--default .select2-selection--single::-moz-placeholder {
  color: rgba(61, 61, 61, 0.8);
  font-size: 12px;
}
.e-app .e-select-black .select2-container--default .select2-selection--single:-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.8);
  font-size: 12px;
}
.e-app .e-select-black .select2-container--default .select2-selection--single::placeholder {
  color: rgba(61, 61, 61, 0.8);
  font-size: 12px;
}
.e-app .e-select-black .select2-selection__rendered {
  color: #3c4b64 !important;
}
.e-app .e-select-black .select2-selection__arrow * {
  border-color: #3c4b64 transparent transparent transparent !important;
  border-width: 5px 4px 0 4px !important;
}
.e-app .e-card-title-adv {
  display: flex;
}
.e-app .e-card-title-adv .e-card-title-icon {
  font-size: 43px;
  font-weight: 100;
}
.e-app .e-card-title-adv .e-title {
  font-size: 25px;
  font-weight: 400;
  margin: 8px;
  margin-left: 17px;
}
.e-app .e-input-center {
  text-align: center;
}
.e-app .e-input-center::-moz-placeholder {
  text-align: center;
}
.e-app .e-input-center:-ms-input-placeholder {
  text-align: center;
}
.e-app .e-input-center::placeholder {
  text-align: center;
}
.e-app .e-input-white {
  background: transparent;
  border-radius: 8px;
  border-width: 2.5px;
  border-color: #f1f1f1;
  color: white;
  box-shadow: none !important;
}
.e-app .e-input-white::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.e-app .e-input-white:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.e-app .e-input-white::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.e-app .e-input-black {
  background: transparent;
  border-radius: 8px;
  border-width: 2.5px;
  border-color: #3c4b64;
  color: #3c4b64;
  box-shadow: none !important;
}
.e-app .e-input-black::-moz-placeholder {
  color: rgba(61, 61, 61, 0.8);
  font-size: 12px;
}
.e-app .e-input-black:-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.8);
  font-size: 12px;
}
.e-app .e-input-black::placeholder {
  color: rgba(61, 61, 61, 0.8);
  font-size: 12px;
}
.e-app .btn {
  border-radius: 8px;
}
.e-app .btn-primary {
  background: #4658b4;
}
.e-app .btn-primary:hover {
  background: #3249bd;
}
.e-app .e-gr-end {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 232;
  background-image: linear-gradient(180deg, rgba(48, 104, 207, 0) 75%, white 100%);
}
.e-app .overflow-scroll {
  overflow-y: scroll;
}
.e-app .e-navbar {
  background-image: linear-gradient(4deg, #3068cf 0%, #314da1 100%);
  box-shadow: 0px 1px 10.36px 4.64px rgba(0, 0, 0, 0.26);
}
.e-app .e-navbar .navbar .navbar-brand {
  padding: 0;
  margin: 0;
}
.e-app .e-navbar .navbar .e-navbar-divider {
  width: 1.52px;
  background: rgba(255, 255, 255, 0.45);
  margin: 5px;
}
.e-app .e-navbar .navbar .e-navbar-title {
  margin-top: -2.5px;
  margin-left: 5px;
  margin-right: 5px;
}
.e-app .e-navbar .navbar .e-navbar-title .e-main-title {
  color: white;
  margin: 0;
  font-size: 16px;
}
.e-app .e-navbar .navbar .e-navbar-title .e-sub-title {
  color: rgba(255, 255, 255, 0.67);
  margin: 0;
  font-size: 11.1px;
}
.e-app .e-navbar .navbar .navbar-collapse .nav-item a {
  text-align: center;
}
.e-app .e-navbar .navbar .nav-item {
  position: relative;
}
.e-app .e-navbar .navbar .nav-item.active a:after {
  content: "";
  display: block;
  border-radius: 5px;
  width: calc(100% - 7px);
  background: transparent;
  height: 3.5px;
  margin-left: 3.5px;
  margin-right: 3.5px;
}
.e-app .e-navbar .navbar .nav-item a {
  font-weight: bold;
}
@media (min-width: 992px) {
  .e-app .e-navbar .navbar .navbar-collapse .nav-item.active a:after {
    background: white !important;
  }
}
.e-app .e-discord-info {
  width: 100%;
  min-height: 100px;
  background-image: linear-gradient(-35deg, #2e3b61 0%, #3b54a3 100%);
  border-radius: 15px;
}
.e-app .e-discord-info .e-discord-logo-box .cib-discord {
  font-size: 120px;
}
.e-app .e-passenger-selector .e-passenger {
  border-left-style: solid;
  border-radius: 3px;
  border-width: 5px;
}
.e-app .e-passenger-selector .e-passenger-0 {
  border-left-color: #89d574;
}
.e-app .e-passenger-selector .e-passenger-1 {
  border-left-color: #748fd5;
}
.e-app .e-passenger-selector .e-passenger-2 {
  border-left-color: #d5cb74;
}
.e-app .e-passenger-selector .e-passenger-3 {
  border-left-color: #d574cb;
}
.e-app .e-passenger-selector .e-passenger-4 {
  background-color: #d57487;
}
.e-app .e-passenger-selector .e-passenger-5 {
  background-color: #bbd574;
}
.e-app .e-passenger-selector .e-passenger-6 {
  background-color: #74d5be;
}
.e-app .e-home-news {
  background-image: url("/img/news_bg.jpg");
  background-size: cover;
  background-position-y: bottom;
  background-position-x: left;
  background-repeat: no-repeat;
  background-color: #4772b86b;
  background-blend-mode: darken;
}
.e-app .e-home-news .e-news .e-post-title {
  color: white;
  font-size: 18px;
  font-weight: normal !important;
}
.e-app .e-home-news .e-news .e-news-date {
  color: #c9c9c9;
}
.e-app .e-home-news .e-news h1, .e-app .e-home-news .e-news h2 {
  color: white;
}
.e-app .e-home-news .e-news p {
  color: #dcdcdc;
}
.e-app .e-main-news .e-news .e-post-title {
  color: black;
  font-size: 24px;
  font-weight: bold !important;
  -webkit-text-decoration-color: #363636;
          text-decoration-color: #363636;
}
.e-app .e-main-news .e-news .e-post-date {
  color: #262626 !important;
}
.e-app .e-main-news .e-news h1, .e-app .e-main-news .e-news h2 {
  color: black;
  font-weight: bold !important;
}
.e-app .e-main-news .e-news hr {
  border-color: black;
}
.e-app .e-main-news .e-news p {
  color: #242424;
  font-weight: normal !important;
}
.e-app .e-news {
  width: 100%;
  min-height: 300px;
}
.e-app .e-news .e-post {
  height: 100%;
}
.e-app .e-tickets {
  width: 100%;
  min-height: 100px;
  background-image: url("/img/tickets_bg.png");
  background-size: cover;
  background-position-y: bottom;
  background-position-x: left;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.e-app .e-tickets > .row > .col-md:last-child {
  border-right-color: transparent !important;
}
.e-app .e-tickets > .row > .col-md {
  border-right-color: rgba(255, 255, 255, 0.38);
  border-right-width: 1.25px;
  border-right-style: solid;
}
.e-app .e-tickets .e-ticket-form-control {
  background: transparent;
  border-radius: 8px;
  border-width: 2.5px;
  border-color: #f1f1f1;
  color: white;
  text-align: center;
}
.e-app .e-tickets .e-ticket-form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-align: center;
}
.e-app .e-tickets .e-ticket-form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-align: center;
}
.e-app .e-tickets .e-ticket-form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-align: center;
}
.e-app .e-ticket-in-profile {
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.e-app .e-ticket-in-profile h4 {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
.e-app .e-ticket-in-profile .e-qr-profile svg {
  width: 100%;
  height: 80%;
}
.e-app .e-ticket {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.e-app .e-ticket .e-ticket-header {
  border-bottom: 0.25px black solid;
}
.e-app .e-ticket .e-qr {
  border-right-color: #d0d5e5;
  border-right-width: 5px;
  border-right-style: dashed;
}
.e-app .e-ticket .e-qr svg {
  width: 100%;
  height: auto;
}
.e-app .e-font-2xl {
  font-size: 16px;
}
.e-app .e-footer {
  width: 100%;
  min-height: 150px;
  background-image: linear-gradient(-35deg, #252739 0%, #191a21 100%), url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1e202cad;
  background-blend-mode: color;
  background-position: center;
}
.e-app .e-footer .row > .col-md:last-child {
  border-right-color: transparent !important;
}
.e-app .e-footer .row > .col-md:first-child {
  border-right-color: transparent !important;
}
.e-app .e-footer .row > .col-md {
  border-right-color: rgba(255, 255, 255, 0.38);
  border-right-width: 1.25px;
  border-right-style: solid;
}
.e-app .e-footer .row {
  min-height: 200px;
}
.e-app .e-select-passenger-home-count li a {
  border-width: 2.5px;
  border-left-color: transparent;
  background: transparent;
  color: white;
  transition: 0.3s;
}
.e-app .e-select-passenger-home-count li a.active {
  background: #e0e0e0;
  color: black;
}
.e-app .e-select-passenger-home-count li a:hover {
  background: #e0e0e0;
  color: black;
}
.e-app .e-select-passenger-home-count li a:first-child {
  border-left-color: #d8dbe0;
}
.e-app .btn-outline-light {
  border-width: 2.5px;
}
.e-app .btn-outline-light:hover {
  color: black;
}
.e-app .e-seat-selector .e-seat-words {
  width: 100%;
  display: flex;
}
.e-app .e-seat-selector .e-seat-words .e-seat-no {
  opacity: 0;
  margin-top: 10px;
}
.e-app .e-seat-selector .e-seat-words .e-seat-nod {
  min-width: 40px;
  min-height: 32px;
  display: block;
  margin: 5px;
  margin-bottom: -10px !important;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
}
.e-app .e-seat-selector .e-seat-no {
  width: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.e-app .e-seat-selector .e-seat-row {
  display: flex;
}
.e-app .e-seat-selector .e-seat-row .e-seat {
  min-width: 32px;
  min-height: 32px;
  display: block;
  margin: 5px;
  border-radius: 15px;
  padding: 20px;
}
.e-app .e-seat-selector .e-seat-row .e-seat-f, .e-app .e-seat-selector .e-seat-row .e-seat-t,
.e-app .e-seat-selector .e-seat-row .e-seat-tm-0, .e-app .e-seat-selector .e-seat-row .e-seat-tm-1, .e-app .e-seat-selector .e-seat-row .e-seat-tm-2, .e-app .e-seat-selector .e-seat-row .e-seat-tm-3, .e-app .e-seat-selector .e-seat-row .e-seat-tm-4, .e-app .e-seat-selector .e-seat-row .e-seat-tm-5, .e-app .e-seat-selector .e-seat-row .e-seat-tm-6 {
  border: grey;
  border-width: 1px;
  background-image: url("https://i.imgur.com/dMWzTOP.png?1");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #dedede;
  transition: 0.3s;
}
.e-app .e-seat-selector .e-seat-row .e-seat-tm-0 {
  background-color: #89d574;
}
.e-app .e-seat-selector .e-seat-row .e-seat-tm-1 {
  background-color: #748fd5;
}
.e-app .e-seat-selector .e-seat-row .e-seat-tm-2 {
  background-color: #d5cb74;
}
.e-app .e-seat-selector .e-seat-row .e-seat-tm-3 {
  background-color: #d574cb;
}
.e-app .e-seat-selector .e-seat-row .e-seat-tm-4 {
  background-color: #d57487;
}
.e-app .e-seat-selector .e-seat-row .e-seat-tm-5 {
  background-color: #bbd574;
}
.e-app .e-seat-selector .e-seat-row .e-seat-tm-6 {
  background-color: #74d5be;
}
.e-app .e-seat-selector .e-seat-row .e-seat-f:hover {
  opacity: 0.67;
  cursor: pointer;
}
.e-app .e-seat-selector .e-seat-row .e-seat-t {
  cursor: not-allowed !important;
  opacity: 0.3;
}
.e-app .tooltip {
  margin: 10px;
}
.e-app .e-booking {
  margin-top: 50px;
  background: white;
  min-height: 300px;
}
.e-app .e-booking .e-booking-header {
  min-height: 80px;
  width: 100%;
  background: #ececec;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.e-app .e-booking .e-booking-header h3 {
  line-height: 80px;
}
.e-app .e-about-us {
  margin-top: 40% !important;
  background: white;
}
